body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    border: 20px solid aqua;
    padding: 50px;
    border-radius: 50%;
    animation: fan linear infinite; 
   
}

button{
    
    cursor: pointer;
    width: 100px;
    height: 100px;
    padding: 20px 30px;
    margin: 0px 10px;
    font-size: 25px;
    font-weight: 550;
    border: none;
    background-color: silver;
    border-radius: 50%;
    transition: 0.1s;
    
}

button:active{
    box-shadow: 0px 10px 10px black;
    transform: scale(0.95);
}

.main button:nth-last-child(5){
    background-color:  rgb(0, 255, 0);
}
.main button:nth-last-child(4){
    background-color: red;
}

@keyframes fan{
    100%
    {
        transform: rotate(360deg);
    }
}